/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: #433e3b;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 24px;
}

.navbar nav ul {
    display: flex;
    list-style: none;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    height: 100vh;
    background: url('Page_d\'accueil.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-right: 24px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 400px;
}

footer {
    background-color: #433e3b;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}