:root {
    --primary-color: #33a09186;
    --secondary-color: #f2f2f2;
    --font-family: Arial, sans-serif;
    --font-color: white;
    --link-color: blue;
    --link-hover-color: darkblue;
    --border-color: #ddd;
}


body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--font-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background: var(--primary-color);
    color: var(--font-color);
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar .logo {
    font-size: 24px;
}

.navbar nav ul {
    display: flex;
    list-style: none;
}

.navbar nav ul li {
    margin-left: 25px;
}

.navbar nav ul li a {
    color: var(--font-color);
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
}

.navbar nav ul li a:hover {
    color: var(--primary-color);
    background-color: var(--font-color);
    border-radius: 5px;
}

.hero {
    height: 100vh;
    background: url('Page_d\'accueil.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    margin-right: 24px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 400px;
}

footer {
    background-color: #33a09186;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}